.card {
  border-radius: 25px;
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 60vh;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: 0.2s ease-in-out;
  margin: 15px;
}

.nameheading {
  position: absolute;
  bottom: 10px;
  text-transform: capitalize;
  color: white;
  font-weight: bolder;
  display: flex;

  font-family: ProximaNova, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, Helvetica, Arial, Segoe UI Emoji,
    Segoe UI Symbol, Apple Color Emoji, Twemoji Mozilla, Noto Color Emoji,
    EmojiOne Color, Android Emoji;
}

.card_container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.swipe {
  position: absolute;
}

.age {
  position: relative;
  left: 10px;
  bottom: 10px;
  font-weight: bolder;
  font-size: x-large;
}
